[Desktop Entry]
Type=Application
Version=1.0
Name=Boykisser Welcome
Comment=Show the welcome screen on first login :3
Exec=boykisser-welcome --autostart
OnlyShowIn=XFCE;
Terminal=false
NoDisplay=true
X-XFCE-Autostart-Phase=Application
