[Desktop Entry]
Type=Application
Name=Boykisser Welcome
Exec=/usr/local/bin/boykisser-welcome
Icon=/usr/share/boykisser/badge.png
Terminal=false
Categories=
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=true
